.bookmarks-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
    gap: 8px
}

.back-button {
    padding: 4px 8px;
    background-color: transparent;
    border: none
}

.back-button:hover {
    border: none;
}