.transactions-page {
  display: flex;
  flex-direction: column;
  padding: 0 4px;
  box-sizing: border-box;
  margin: 0;
  width: 608px;
}

.transactions-container {
  height: 600px;
  min-width: 500px;
  overflow-y: auto; /* Show scrollbar only when needed */
  overflow-x: hidden;

  margin: 0 8px;
  padding-right: 8px;
  border-radius: 0;
  border: 1px solid #e0e0e0;
}

.transactions-add-transaction-button {
  width: 97%;
  margin: 4px auto;
}

.selected-button {
  border: 1px solid #e0e0e0;
}

.selected-button:hover {
  cursor: default;
  border: 1px solid #e0e0e0;
}

.main-nav-buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0px;
  width: 96%;
  margin: 0 0 0 8px;
}

.main-nav-buttons button {
  padding: 8px 16px;
  width: 100%;
  border-radius: 0; 
  background-color: transparent;
}

.search-nav-buttons {
  display: flex;
  justify-content: space-between;
  margin: 0 8px;
}