.transactions-page {
  display: flex;
  flex-direction: column;
  padding: 5px;
  box-sizing: border-box;
}

.transactions-container {
    max-height: 600px;
    min-width: 500px;
    overflow-y: auto; /* Show scrollbar only when needed */
    overflow-x: hidden;

    margin: 8px;
    padding-right: 8px;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
}