#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  margin: 0 4px;
}

main {
  margin: 0 4px;
}

button {
  padding: 8px 12px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.transactionSelectionButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.transactionInputField {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.income {
  color:rgb(65, 148, 243);
}

.expense {
  color:rgb(253, 63, 63);
}

.transfer {
  color: whitesmoke
}

.income-button {
  border: 1px solid rgb(65, 148, 243);
}

.income-button:hover {
  border: 1px solid rgb(65, 148, 243);
  cursor: default;
}

.expense-button {
  border: 1px solid rgb(253, 63, 63);
}

.expense-button:hover {
  border: 1px solid rgb(253, 63, 63);
  cursor: default;
}

.transfer-button {
  border: 1px solid whitesmoke;
}

.transfer-button:hover {
  border: 1px solid whitesmoke;
  cursor: default;
}

.back-forward-button {
    padding: 4px;
    background-color: transparent;
    border: none
}

.back-forward-button:hover {
    border: none;
}

.label {
  text-align: left;
  font-weight: bold;
  margin: 0;
}

input {
  text-align: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

* {
  margin: 4px
}